USE [master]
GO
/****** Object:  Database [Knjizica]    Script Date: 15.6.2023. 13:39:42 ******/
CREATE DATABASE [Knjizica]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Knjizica', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Knjizica.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Knjizica_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Knjizica_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Knjizica].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Knjizica]
GO
/****** Object:  User [fbara]    Script Date: 15.6.2023. 13:39:42 ******/
CREATE USER [fbara] FOR LOGIN [fbara] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[knjiga]    Script Date: 15.6.2023. 13:39:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[knjiga](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[autor] [varchar](255) NULL,
	[broj_stranica] [int] NULL,
	[godina_izdanja] [int] NULL,
	[inventurni_broj] [int] NULL,
	[naziv] [varchar](255) NULL,
	[oznaka] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[knjizicar]    Script Date: 15.6.2023. 13:39:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[knjizicar](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[email] [varchar](255) NULL,
	[ime] [varchar](255) NULL,
	[prezime] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[korisnik]    Script Date: 15.6.2023. 13:39:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[korisnik](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[email] [varchar](255) NULL,
	[lozinka] [varchar](255) NULL,
	[vrsta_korisnika] [varchar](255) NULL,
	[knjizicar_id] [bigint] NULL,
	[student_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[student]    Script Date: 15.6.2023. 13:39:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[godina_studija] [int] NULL,
	[ime] [varchar](255) NULL,
	[prezime] [varchar](255) NULL,
	[studij] [varchar](255) NULL,
	[email] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[student_knjiga]    Script Date: 15.6.2023. 13:39:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student_knjiga](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[knjiga_id] [bigint] NULL,
	[student_id] [bigint] NULL,
	[datum_izdavanja] [date] NULL,
	[datum_vracanja] [date] NULL,
	[obavijest_poslana] [bit] NULL,
	[rok_vracanja] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[korisnik]  WITH CHECK ADD  CONSTRAINT [FK7nntiwnesh5dn90w40hhmca2t] FOREIGN KEY([knjizicar_id])
REFERENCES [dbo].[knjizicar] ([id])
GO
ALTER TABLE [dbo].[korisnik] CHECK CONSTRAINT [FK7nntiwnesh5dn90w40hhmca2t]
GO
ALTER TABLE [dbo].[korisnik]  WITH CHECK ADD  CONSTRAINT [FK8u99fxmrf9jd0163ut1cyud8w] FOREIGN KEY([student_id])
REFERENCES [dbo].[student] ([id])
GO
ALTER TABLE [dbo].[korisnik] CHECK CONSTRAINT [FK8u99fxmrf9jd0163ut1cyud8w]
GO
ALTER TABLE [dbo].[student_knjiga]  WITH CHECK ADD  CONSTRAINT [FK6bmfkdag4cxtoqkoiheyxses0] FOREIGN KEY([knjiga_id])
REFERENCES [dbo].[knjiga] ([id])
GO
ALTER TABLE [dbo].[student_knjiga] CHECK CONSTRAINT [FK6bmfkdag4cxtoqkoiheyxses0]
GO
ALTER TABLE [dbo].[student_knjiga]  WITH CHECK ADD  CONSTRAINT [FKbreebq2fr5puh9flknsv8rhsm] FOREIGN KEY([student_id])
REFERENCES [dbo].[student] ([id])
GO
ALTER TABLE [dbo].[student_knjiga] CHECK CONSTRAINT [FKbreebq2fr5puh9flknsv8rhsm]
GO
USE [master]
GO
