<!DOCTYPE html>
<html>
<head>
    <title>Brisanje studenta</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <h1>Brisanje studenta</h1>
     <a href="/student/all" class="btn btn-primary">Povratak na sve studente</a>
    <form th:action="@{/student/{id}/delete(id=${student.id})}"  th:object="${student}" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <p>Jeste li sigurni da želite izbrisati ovog studenta?</p>
        <input type="submit" value="Izbriši">
    </form>
</body>
</html>
