<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Naslovna stranica</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <h2>Dobrodošli na naslovnu stranicu</h2>
    
    <!-- Navigacija -->
    <ul>
        <li><a href="/">Naslovna</a></li>
        <li><a href="/api/knjiga/all">Knjiga - sve</a></li>
        <li><a href="/knjizicar/all">Knjizicari - sve</a></li>
        <li><a href="/student/all">Studetni - sve</a></li>
        <li><a href="/api/knjiga/izdavanje-knjige">Izdaj knjigu</a></li> <!-- Dodajte ovu liniju -->
    </ul>
    <div class="navigation">
        <a href="/api/knjiga/all" class="button">Knjige</a>
        <a href="/student/all" class="button">Studenti</a>
        <a href="/knjizicar/all" class="button">Knjizicari</a>
        <a href="/api/knjiga/izdavanje-knjige" class="button">Izdaj Knjigu</a>
    </div>

