<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<a href="/home" class="btn btn-primary">Povratak na početnu stranicu</a>
<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th>Student</th>
      <th>Knjiga</th>
      <th>Rok vraćanja</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="studentKnjiga : ${studentiKnjige}">
      <td th:text="${studentKnjiga.student.getIme() + ' ' + studentKnjiga.student.getPrezime()}"></td>
      <td th:text="${studentKnjiga.knjiga.getNaziv()}"></td>
      <td th:text="${studentKnjiga.getRokVracanja()}"></td>
    </tr>
  </tbody>
</table>
