<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalji knjižničara</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <h2>Detalji knjižničara</h2>
    
    <div>
        <strong>ID:</strong> <span th:text="${knjizicar.id}"></span><br>
        <strong>Ime:</strong> <span th:text="${knjizicar.ime}"></span><br>
        <strong>Prezime:</strong> <span th:text="${knjizicar.prezime}"></span><br>
        <strong>Email:</strong> <span th:text="${knjizicar.email}"></span><br>
    </div>
    
    <a href="/knjizicar">Povratak na popis knjižničara</a>
</body>
</html>
