<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Knjige</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2>Knjige</h2>
        <a href="/home" class="btn btn-primary">Povratak na početnu stranicu</a>
         <h2>Traži knjige</h2>
        <form th:action="@{/api/knjiga/search}" method="get">
            <div class="form-group">
                <label for="naziv">Naziv:</label>
                <input type="text" id="naziv" name="naziv" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Traži</button>
        </form>
        
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Naziv</th>
                <th>Autor</th>
                <th>Godina izdanja</th>
                <th>Broj stranica</th>
                <th>Oznaka</th>
                <th>Inventurni broj</th>
                <th>Actions</th>
            </tr>
            
            <tr th:each="knjiga : ${knjige}">
                <td th:text="${knjiga.id}"></td>
                <td th:text="${knjiga.naziv}"></td>
                <td th:text="${knjiga.autor}"></td>
                <td th:text="${knjiga.godina_izdanja}"></td>
                <td th:text="${knjiga.broj_stranica}"></td>
                <td th:text="${knjiga.oznaka}"></td>
                <td th:text="${knjiga.inventurni_broj}"></td>
                <td>
                    <a th:href="@{/api/knjiga/{id}/update(id=${knjiga.id})}">Uredi</a>
                    <a th:href="@{/api/knjiga/{id}/delete(id=${knjiga.id})}" onclick="return confirm('Are you sure?')">Izbriši</a>
                </td>
            </tr>
           
        </table>
 <a href="/api/knjiga/create" class="btn btn-primary">Kreiraj Knjigu</a>
       
        
        
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
