<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Knjiznica</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Pregled izdanih knjiga za studenta: <span th:text="${student.getIme()} + ' ' + ${student.getPrezime()}"></span></h1>
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Naziv knjige</th>
                <th>Datum izdavanja</th>
                <th>Datum vraćanja</th>
            </tr>
            <tr th:each="izdanaKnjiga : ${izdaneKnjige}">
                <td th:text="${izdanaKnjiga.id}"></td>
                <td th:text="${izdanaKnjiga.knjiga.naziv}"></td>
                <td th:text="${izdanaKnjiga.datumIzdavanja}"></td>
                <td th:text="${izdanaKnjiga.datumVracanja}"></td>
                <td>
        			<a class="btn btn-primary" th:href="@{/api/knjiga/{knjigaId}/status(knjigaId=${izdanaKnjiga.knjiga.id})}">Status</a>
        			<a class="btn btn-danger" th:href="@{/api/knjiga/vratiKnjigu}" th:data-knjiga-id="${izdanaKnjiga.knjiga.id}" th:data-student-id="${student.id}">Vrati</a>
    			</td>
            </tr>
        </table>
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
