<!DOCTYPE html>
<html>
<head>
    <title>Registracija</title>
</head>
<body>
    <h2>Registracija</h2>
    <form action="/korisnik/registracija" method="post">
        <div>
            <label>Email:</label>
            <input type="email" name="email" required>
        </div>
        <div>
            <label>Lozinka:</label>
            <input type="password" name="lozinka" required>
        </div>
        <div>
            <input type="submit" value="Registriraj se">
        </div>
    </form>
</body>
</html>
