<!DOCTYPE html>
<html>
<head>
    <title>Uređivanje studenta</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Uređivanje studenta</h1>
        <a href="/student/all" class="btn btn-primary">Povratak na sve studente</a>
        <form th:action="@{/student/{id}/update(id=${student.id})}" th:object="${student}" method="post">
            <input type="hidden" name="_method" value="PUT">

            <div class="form-group">
                <label for="ime">Ime:</label>
                <input type="text" id="ime" name="ime" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="prezime">Prezime:</label>
                <input type="text" id="prezime" name="prezime" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="studij">Studij:</label>
                <input type="text" id="studij" name="studij" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="godinaStudija">Godina studija:</label>
                <input type="number" id="godinaStudija" name="godinaStudija" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" class="form-control" required>
            </div>

            <input type="submit" value="Spremi" class="btn btn-primary">
        </form>
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
