<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ažuriranje knjižničara</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2>Ažuriranje knjižničara</h2>
        <a href="/knjizicar/all" class="btn btn-primary">Povratak na sve knjizicare</a>
        <form th:action="@{/knjizicar/{id}/update(id=${knjizicar.id})}" method="post">
            <div class="form-group">
                <label for="ime">Ime:</label>
                <input type="text" id="ime" name="ime" th:value="${knjizicar.ime}" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="prezime">Prezime:</label>
                <input type="text" id="prezime" name="prezime" th:value="${knjizicar.prezime}" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" th:value="${knjizicar.email}" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Spremi</button>
        </form>
        

    </div>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
