<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vraćene knjige</title>
</head>
<body>
    <h1>Vraćene knjige</h1>
    
    <h2>Student: <span th:text="${student.ime}"></span></h2>
    
    <table>
        <thead>
            <tr>
                <th>Naziv knjige</th>
                <th>Autor</th>
             
            </tr>
        </thead>
     
        
        <tbody>
            <tr th:each="knjiga : ${vraceneKnjige}">
                <td th:text="${knjiga.naziv}"></td>
                <td th:text="${knjiga.autor}"></td>
            
            </tr>
        </tbody>
    </table>
</body>
</html>
