<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Knjiga</title>
</head>
<body>
    <h1>Knjiga</h1>
    
    <h2>Dodavanje knjige</h2>
    <form method="post" action="/api/knjiga/create">
        <label>Naziv:</label>
        <input type="text" name="naziv"><br>
        <label>Autor:</label>
        <input type="text" name="autor"><br>
        <label>Godina izdanja:</label>
        <input type="number" name="godinaIzdanja"><br>
        <label>Broj stranica:</label>
        <input type="number" name="brojStranica"><br>
        <label>Oznaka:</label>
        <input type="text" name="oznaka"><br>
        <label>Inventurni broj:</label>
        <input type="number" name="inventurniBroj"><br>
        <input type="submit" value="Dodaj knjigu">
    </form>
 
    <h2>Popis knjiga</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Naziv</th>
                <th>Autor</th>
                <th>Godina izdanja</th>
                <th>Broj stranica</th>
                <th>Oznaka</th>
                <th>Inventurni broj</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="knjiga : ${knjige}">
                <td th:text="${knjiga.id}"></td>
                <td th:text="${knjiga.naziv}"></td>
                <td th:text="${knjiga.autor}"></td>
                <td th:text="${knjiga.godinaIzdanja}"></td>
                <td th:text="${knjiga.brojStranica}"></td>
                <td th:text="${knjiga.oznaka}"></td>
                <td th:text="${knjiga.inventurniBroj}"></td>
            </tr>
        </tbody>
    </table>
    
    	<h2>Pretraga knjiga</h2>
    	<form method="get" action="/api/knjiga/studij/{studij}">
        <label>Studij:</label>
        <input type="text" name="studij"><br>
        <input type="submit" value="Pretraži">
   		 </form>
</body>
</html>
                
